body{
    background-color: lightblue;
}

.luffy {
    height: 50px;
    width: 50px;
}

#family {
width: 100%;
height:auto;
margin: 20px;
}

#level2{
    position: relative;

}

#word{
    left:50%;
    border-style: dotted;
    position:absolute;
    text-align:center;
    top: 30%;
    color: black;
}

#float{
    float: tight;
    width: 25px;
    border-radius:25px;
    background: pink;
  padding: 20px;
  width: 500px;
  height: 350px;
}